{% extends "base.html" %}
{% block title %}Register — Wow Todo{% endblock %}
{% block content %}
<div class="auth-wrap">
  <div class="auth-card">
    <h2>Register</h2>

    <form method="POST" action="{{ url_for('auth.register') }}">

      <label class="label">Username</label>
      <input name="username" required>

      <label class="label">Email</label>
      <input name="email" type="email">

      <label class="label">Password</label>
      <input type="password" name="password" required>

      <label class="label">Confirm Password</label>
      <input type="password" name="password2" required>

      <button class="btn primary" type="submit">Register</button>
    </form>

    <p class="muted">Already have an account? 
      <a href="{{ url_for('auth.login') }}">Login</a>
    </p>
  </div>
</div>
{% endblock %}
